<div class="cart-container" *ngIf="!confirmed">
  <ng-template [ngIf]="cartList.length > 0" [ngIfElse]="embty_cart_message">
    <div class="cart-panel">
      <div class="cart-item" *ngFor="let cart of cartList">
        <img [src]="cart.url" [alt]="cart.description" />
        <div class="cart-item-details">
          <h4>{{ cart.name }}</h4>
          <p>${{ cart.price }}</p>
          <div class="input-group">
            <label class="input-group-text" for="amountInput">Amount:</label>
            <input
              type="number"
              class="form-control number-input"
              id="amountInput"
              [(ngModel)]="cart.amount"
              (ngModelChange)="updateCartAmount(cart)"
            />
          </div>
        </div>
      </div>

      <hr class="hr" />
      <h2>Total: ${{ totalAmount }}</h2>
    </div>

    <app-cart-form [user]="user" (onSubmit)="(confirmOrder)"></app-cart-form>
  </ng-template>

  <ng-template #embty_cart_message>
    <div class="empty-cart-message">
      <h1 class="mb-3">Opps!</h1>
      <p>It seems that you haven't any product in your cart</p>
      <p>yuo can find products in product list to add it to your cart</p>
      <div class="back-link">
        <a routerLink="/">
          <i class="bi bi-arrow-left"></i>
          Back to product list.
        </a>
      </div>
    </div>
  </ng-template>
</div>
<app-confirmation *ngIf="confirmed" [user]="user" [totalAmount]="totalAmount">
</app-confirmation>
